extends ../layout

block content
    div.app-works
        div.common
            div.works-headimgDiv
                div.works-headimg(style="height: 500px;background: #25232b;")
            div.works-list.clearfix
                each item in list
                    div.works-list-item
                        div.works-list-item-img(style="height: 320px;background: #25232b;")
                        div.works-list-item-name.orange #{item.name}
                        div.works-list-item-actor
                            span.orange 主演:
                            span #{item.actor}
                        div.works-list-item-account
                            span.orange 剧情简介:
                            span #{item.account}
                