div.header 1920x130
div.nav
    ul.clearfix.common
        li: a(href="/") 首页
        li: a(href="/works") 影视作品
        li: a 公众号精选
        li: a(href="/news") 新闻聚焦
        li: a(href="/relations") 投资者关系
        li: a 关于千乘
        li: a(href="/contact") 联系我们